# MAIN output files
main.aux
main.lof
main.log
main.out
main.run.xml
main.toc
main-blx.bib
main.synctex.gz
main.pdf
main.blg
main.lot

# CHAPTERS output files
/Chapters/**.aux
/Chapters/**.log

# BUILD folder
/build/
